{% extends "base_new.html" %}

{% block title %}
  Kedata Dashboard - Upgrade User
{% endblock title %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

  <style type="text/css" media="screen">
    .chart-container{
      width: 400px;
      height: 400px;
    }

    .my-custom-scrollbar {
      position: relative;
      height: 350px;
      overflow: auto;
    }

    .table-wrapper-scroll-y {
      display: block;
    }

  </style>
{% endblock stylesheet %}

{% block content %}
  <h1 class="mt-4">Users Dashboard</h1>
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item">Users Dashboard</li>
      <li class="breadcrumb-item active">Upgrade User</li>
    </ol>
  <div class="row justify-content-center my-4">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Upgrade User</h3>
          <form method="post" accept-charset="utf-8" novalidate> 
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card">
        <div class="card-header">
          <b>Users List</b>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped mb-0 my-custom-scrollbar table-wrapper-scroll-y" id="">
            <thead class="table-dark">
              <tr>
                <th>Email</th>
                <th>Subscription</th>
              </tr>
            </thead>
            <tbody>
              {% for data in user_data %}
                <tr>
                  <td><a href="#" onclick="function_send('{{data.email}}')">{{data.email}}</a></td>
                  <td>{{data.subscription}}</td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>          
        </div>
      </div>      
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" type="text/javascript"></script>

  <script>
    function function_send(email) {
      document.getElementById("id_email").value = email;

    };
    $(document).ready( function() {
      $('#myTable').DataTable();
    });
  </script>
{% endblock scripts %}